@media only screen and (max-width: 1930px) {

}

@media only screen and (max-width: 1690px) {

}

@media only screen and (max-width: 1450px) {

}

@media only screen and (max-width: 1390px) {

}

@media only screen and (max-width: 1366px) {

}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1025px) {

}

@media only screen and (max-width: 990px) {
  .submit-form__box {
    width: 60%;
  }
  .submit-form__form {
    width: 40%;
  }
  .submit-form__box--title {
    margin-top: 30px;
  }

  .footer__contacts--box {
    margin-top: 28px;
    margin-left: 61px;
  }
}

@media only screen and (max-width: 770px) {
  .submit-form__box {
    width: 60%;
  }
  .submit-form__form {
    width: 40%;
  }
  .submit-form__box--title {
    margin-top: 30px;
  }

  .footer__contacts--box {
    margin-top: 28px;
    margin-left: 61px;
  }
}

@media only screen and (max-width: 680px) {

}

@media only screen and (max-width: 568px) {
  .header__logo--title {
    font-size: 54px;
    line-height: 52px;
  }
  .header__slogan--title {
    font-size: 30px;
  }
  .header__slogan--subtitle {
    display: block;
    position: relative;
    width: 100%;
    font-size: 20px;
    box-sizing: border-box;
  }

  .about__title, .notice__box--title, .rules__title--head {
    font-size: 35px;
  }
  .about__box {
    padding: 0;
  }
  .about__box--img {
    float: none;
    margin: 0px auto;
  }
  .about__box--descr {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .about__box--reas {
    width: 100%;
  }

  .rules__title--body {
    width: 100%;
  }

  .submit-form__box--title {
    margin-top: 53px;
  }
  .submit-form__box {
    width: 100%;
    float: left;
  }
  .submit-form__box--arrow {
    display: none;
  }
  .submit-form__form {
    width: 100%;
  }

  .footer__logo, .footer__copy, .footer__contacts {
    width: 100%;
  }
  .footer__logo--img {
    position: relative;
    display: block;
    float: none;
    width: 158px;
    height: 61px;
    margin: 0px auto;
  }
  .footer__copy {
    margin-top: 13px;
  }
  .footer__contacts--box {
    justify-content: center;
    margin-top: 28px;
    margin-left: 0px;
    text-align: center;
  }
  .footer__contacts {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 420px) {
  .header__logo--title {
    font-size: 54px;
    line-height: 52px;
  }
  .header__slogan--title {
    font-size: 30px;
  }
  .header__slogan--subtitle {
    display: block;
    position: relative;
    width: 100%;
    font-size: 20px;
    box-sizing: border-box;
  }

  .about__title, .notice__box--title, .rules__title--head {
    font-size: 35px;
  }
  .about__box {
    padding: 0;
  }
  .about__box--img {
    float: none;
    margin: 0px auto;
  }
  .about__box--descr {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .about__box--reas {
    width: 100%;
  }

  .rules__title--body {
    width: 100%;
  }

  .submit-form__box--title {
    margin-top: 53px;
  }
  .submit-form__box {
    width: 100%;
    float: left;
  }
  .submit-form__box--arrow {
    display: none;
  }
  .submit-form__form {
    width: 100%;
  }

  .footer__logo, .footer__copy, .footer__contacts {
    width: 100%;
  }
  .footer__logo--img {
    position: relative;
    display: block;
    float: none;
    width: 158px;
    height: 61px;
    margin: 0px auto;
  }
  .footer__copy {
    margin-top: 13px;
  }
  .footer__contacts--box {
    justify-content: center;
    margin-top: 28px;
    margin-left: 0px;
    text-align: center;
  }
  .footer__contacts {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 380px) {

}

@media only screen and (max-width: 320px) {

}


