.header{
  display: block;
  position: relative;
  width: 100%;
  float: left;
  background-color: #630845;
  z-index: 6;
  &__logo{
    display: block;
    position: relative;
    width: 30%;
    float: left;
    /*margin-top: 10px;*/
    transition: width 0.4s ease-in-out;
    &--img{
      display: block;
      position: relative;
      width: 100%;
      height: 50px;
      overflow: hidden;
      color: white;
      text-transform: uppercase;
      text-align: left;
      font-family: $qanelassemibold;
      font-size: 14px;
      margin-top: 10px;
      &:hover{
        color: white;
      }
    }
  }
  &__navbar{
    display: block;
    position: relative;
    width: 70%;
    float: left;
    transition: width 0.4s ease-in-out;
    margin-bottom: 0px;
    .navbar {
      position: relative;
      min-height: 100%;
      margin-bottom: 0px;
      border: none;
      background-color: transparent;
      border-radius: 0px;
      .navbar-nav{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        /*height: 60px;*/
        position: relative;
        float: left;
        li {
          flex: 1;
          display: block;
          float: left;
          background-color: #ff9d20;
          a {
            display: block;
            position: relative;
            width: 100%;
            float: left;
            text-align: center;
            text-transform: uppercase;
            background-color: transparent;
            color: black;
            font-family: $qanelassemibold;
            font-size: 18px;
            padding: 20px 15px;
            @include transition(0.4s);
            &:hover{
              color: #ffffff;
            }
            &::before, &::after {//создаем блоки, у которых появляется границы
              box-sizing: border-box;
              content: '';
              position: absolute;
              border-radius: 0px;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
            &::before {//блоку перед ссылкой добавляется
              border-top: 3px solid #ffffff;//граница сверху
              border-bottom: 3px solid #ffffff;//граница снизу
              transform: scale3d(0,1,1); // сжимаем только ширину до 0
            }
            &::after {//блоку после ссылки добавляется
              border-left: 3px solid #ffffff;//граница слева
              border-right: 3px solid #ffffff;//граница справа
              transform: scale3d(1,0,1); // сжимаем только высоту до 0
            }
            &:hover::before, &:hover::after {//при наведении на ссылку
              transform: scale3d(1,1,1); // ширина и высота отражается на полную величину
              transition: transform 0.5s;// со скоростью 0,5 секунд
            }
          }
        }
        li.active{
          background-color: #b9d936;
          a{
            background-color: transparent;
            &:hover{
              color: #ffffff;
            }
          }
        }
      }
      /*.dropdown{
        .dropdown-toggle{
          display: block;
          position: relative;
          color: white;
          font-family: $qanelassemibold;
          font-size: 16px;
          padding: 25px 15px;
          &:hover{
            color: #7f4e10;
          }
        }
        .dropdown-menu{
          position: absolute;
          top: 100%;
          left: -52px;
          display: none;
          float: left;
          min-width: 160px;
          padding: 5px 0;
          margin: 2px 0 0;
          list-style: none;
          font-size: 16px;
          text-align: left;
          border: 1px solid #ccc;
          border: 1px solid rgba(0,0,0,.15);
          border-radius: 4px;
          box-shadow: 0 6px 12px rgba(0,0,0,.175);
          background-clip: padding-box;
          a{
            font-family: $qanelassemibold;
            font-size: 16px;
            text-align: center;
          }
        }
      }
      .open > .dropdown-menu {
        display: block;
        max-height: 1000px;
      }
      .dropdown:first-of-type{
        .dropdown-toggle{
          background-color: #ff9d20;
        }
        .dropdown-menu{
          background-color: #ff9d20;
        }
      }
      .dropdown:nth-of-type(2){
        .dropdown-toggle{
          background-color: #b9d936;
        }
        .dropdown-menu{
          background-color:  #b9d936;
        }
      }
      .dropdown:nth-of-type(3){
        .dropdown-toggle{
          background-color: #7c80bf;
        }
        .dropdown-menu{
          background-color:  #7c80bf;
        }
      }
      .dropdown:last-of-type{
        .dropdown-toggle{
          background-color: #72385f;
        }
        .dropdown-menu{
          background-color: #72385f;
        }
      }*/
    }
  }
}
.fixed{
  position: fixed;
  top: 0;
  left: 0;
}