.header{
  display: block;
  position: relative;
  width: 100%;
  float: left;
  background-color: #fff;
  background-image: url("../img/header-bg.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  &__logo{
    display: block;
    position: relative;
    width: 30%;
    float: left;
    @include box-sizing;
    &--pazl{
      display: block;
      position: absolute;
      width: 190px;
      height: 200px;
      top: -17px;
      left: -2px;
      z-index: 1;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  &__link{
    display: block;
    position: relative;
    width: 100%;
    height: 95px;
    margin-top: 25px;
    overflow: hidden;
    img{
      display: block;
      position: relative;
      width: calc(100% - 200px);
      height: 100%;
      float: right;
      object-fit: contain;
    }
  }
  &__search{
    display: block;
    position: relative;
    width: 33%;
    float: left;
    margin-top: 40px;
    margin-left: 4%;
    &--form{
      display: block;
      position: relative;
      width: 100%;
      float: left;
      padding-left: 50px;
      @include box-sizing;
    }
    &--field{
      display: block;
      position: relative;
      width: 80%;
      height: 33px;
      float: left;
      border: none;
      border-bottom: 1px solid #3a3a3a;
      background-color: transparent;
    }
    &--submit{
      display: block;
      position: relative;
      width: 34px;
      height: 34px;
      float: left;
      border: none;
      background-color: transparent;
      background-image: url('../img/icons/head-search-icon.png');
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
    }
  }
  &__social {
    display: block;
    position: relative;
    width: 33%;
    float: left;
    &--title{
      display: block;
      position: relative;
      width: 100%;
      float: left;
      color: black;
      font-family: $qanelasregular;
      font-size: 14px;
      font-weight: 400;
      margin-top: 10px;
      margin-bottom: 0px;
      padding-left: 17px;
    }
    &--links{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-start;
      width: 100%;
      float: left;
    }
    &--link{
      display: block;
      position: relative;
      width: 52px;
      height: 52px;
      border-radius: 50%;
      border: 1px solid transparent;
      text-align: center;
      margin-right: 10px;
      color: #000000;
      font-size: 25px;
      font-family: $qanelassemibold;
      line-height: 48px;
      font-weight: bold;
      &:hover{
        color: #f02f2f;
        border: 1px solid #f02f2f;
      }
    }
    &--link:first-of-type{
      font-size: 35px;
      font-family: $opensansbold;
    }
    &--link:nth-of-type(2){
      font-size: 40px;
      font-family: $opensansbold;
    }
  }
  &__nav{
    display: block;
    position: relative;
    width: 100%;
    float: left;
    .navbar{
      position: relative;
      min-height: 50px;
      margin-bottom: 20px;
      border: none;
    }
    .navbar-nav{
      display: block;
      position: relative;
      width: calc(100% - 157px);
      margin: 0px auto;
      float: right;
      li{

        a{
          color: black;
          font-family: $qanelaslight;
          font-size: 20px;
          font-weight: 300;
          background-color: transparent;
          padding: 9px 30px;
          &:hover{
            background-color: #1a7a9e;
            color: white;
          }
        }
      }
      li.active{
        a{
          background-color: #1a7a9e;
          color: white;
        }
      }
    }
  }
}