.news {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  background-color: #fff;
  background-image: url("../img/news-bg.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  padding: 30px 0px;
  &__box {
    display: block;
    position: relative;
    width: 100%;
    float: left;
    /*background-color: rgba(128,128,128,0.7);
    padding: 5px;*/
  }
  &__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    position: relative;
    float: left;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 10px 0px;
    padding: 10px;
    &--img {
      flex: 0 0 20%;
      position: relative;
      padding: 10px;
      height: 185px;
      float: left;
      overflow: hidden;
      margin: 0px auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &--content {
      flex: 0 0 80%;
      overflow: hidden;
      position: relative;
      float: left;
      padding: 10px;
      border-left: 1px solid #ffffff;
      h3 {
        display: block;
        position: relative;
        width: 100%;
        float: left;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
      }
      a {
        display: block;
        position: relative;
        width: 100%;
        height: 150px;
        overflow: hidden;
        float: left;
        color: #ffffff;
        font-size: 14px;
        font-family: $qanelasregular;
        &:hover {
          color: #ffffff;
        }
      }
      .date {
        display: block;
        position: relative;
        float: left;
        color: #ffffff;
        font-size: 14px;
        font-family: $qanelasregular;
      }
    }
  }
}